/* styles.css */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  overflow: hidden;
  font-family: "Oswald";
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #e1e1e1;
}
.appContainer {
  height: 90%;
  width: 80%;
  display: flex;
  margin: 4rem 0rem;
  background-color: #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  flex-direction: column;
  align-items: center;
}
.welcomeText {
  padding: 2rem 0rem;
  margin-top: 2rem;
  text-align: center;
  color: #004e76;
  width: 100%;
  height: fit-content;
  background-color: #f9f9f9;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.helloUser {
  display: flex;
  gap: 1rem;
  font-size: 3rem;
  letter-spacing: -0.05rem;
  font-weight: 500;
  justify-content: center;
}
.welcomeSubtext {
  color: #0088cc;
  font-size: 1.25rem;
  position: relative;
  bottom: 1rem;
}

.appDisplay {
  display: grid;
  grid-template-columns: 0.5fr 4fr 2fr 4fr 1fr 0.5fr;
  grid-template-rows: 1fr repeat(10, 1fr);
  width: 100%;
  height: fit-content;
  row-gap: 1rem;
}
#blank1 {
  grid-column: 1/1;
}
#task {
  grid-column: 2 / 2;
}
#dateTime {
  grid-column: 3/3;
}
#location {
  grid-column: 4/4;
  padding-left: 1rem;
}
#completed,
.appDisplayCompletedData {
  grid-column: 5/5;
  white-space: nowrap;
  min-width: min-content;
  padding: 0 1rem;
}
#blank2 {
  grid-column: 6/6;
}
.appDisplayTaskData {
  grid-column: 2/2;
}
.appDisplayCompletedData {
  text-align: center;

  display: flex;
  justify-content: center;
}
.appDisplayTitle {
  font-weight: 600;
  font-size: clamp(0.75rem, 1.5rem, 2rem);
  background-color: #0088cc;
  color: #eeeeee;
}
.appDisplayDateTimeData {
}
.appDisplayLocationData {
  padding-left: 1rem;
}

.addTask {
  justify-self: flex-end;
}
.appDisplayContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.addTask {
  align-self: flex-end;
  margin: auto 0.75rem 0.75rem 0rem;
}
.addTaskBtn {
  padding: 0.75rem 2rem;
  border-radius: 8px;
  border: none;
  background-color: #0088cc;
  color: #eeeeee;
  font-size: 1.75rem;
}
.appDisplayDeleteRow {
  grid-column: 6/6;

  display: flex;
  justify-content: center;
}
.deleteBtn {
  padding: 0.35rem 0.75rem;
  text-align: center;
  background-color: red;
  border-radius: 5px;
  border: none;
  color: #eeeeee;
}
.appDisplayCompletedData,
.appDisplayDateTimeData,
.appDisplayDeleteRow,
.appDisplayLocationData,
.appDisplayTaskData {
  display: flex;
  align-items: center;
  color: #004e76;
}
.modal {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  height: 50vh;
  width: 40vw;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  flex-direction: column;
}
.taskModalText {
  align-self: center;
  justify-self: center;
  padding: 1rem 0rem;
  font-size: clamp(1.25rem, 1.5rem, 1.75rem);
  font-weight: 500;
  color: #004e76;
  background-color: #0088cc;
  width: 100%;
  text-align: center;
  color: #eeeeee;
}
#taskForm {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0rem 2rem;
  color: #004e76;
  font-size: 1.3rem;
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black backdrop */
}
#userCompletedInput {
  align-self: flex-end;
}
#userDateInput {
  direction: rtl;
}
form input,
textarea {
  margin-bottom: 1.75rem;
}
textarea {
  resize: none;
}
.btnHolder {
  margin-top: auto;
  margin-bottom: 1.75rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
}
.closeBtn {
  background-color: red;
  color: #eeeeee;
  font-size: 1.75rem;
  border: none;
  width: 20%;
  height: 3rem;
  align-self: center;
  border-radius: 10px;
  text-align: center;
  padding: 0.25rem;
}
.submitBtn {
  background-color: #0088cc;
  color: #eeeeee;
  font-size: 1.75rem;
  border: none;
  width: 20%;
  height: 3rem;
  align-self: center;
  border-radius: 10px;
  text-align: center;
  padding: 0.25rem;
}
#userCompletedInput {
  padding: 0;
  margin: 0;
  height: 1.5rem;
  width: 1.5rem;
}
.completedContainer {
  display: flex;
  justify-content: space-between;
}
/*Project Section------------------------------------------------*/
.projectTabs {
  width: 100%;
  padding: 0rem 3rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
}
.projectHolder ul {
  display: flex;
}

.projectHolder li:first-of-type {
  background-color: #0088cc;
  padding: 0.8rem;
  border-radius: 8px 8px 0px 0px;
  color: #eeeeee;
  -webkit-box-shadow: 9px 0px 12px -5px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 9px 0px 12px -5px rgba(0, 0, 0, 0.39);
  box-shadow: 9px 0px 12px -5px rgba(0, 0, 0, 0.39);
  z-index: 1;
}
.projectHolder li {
  background-color: #0372a9;
  padding: 0.8rem;
  border-radius: 8px 8px 0px 0px;
  color: #dfdfdf;
}
.addProjectBtn {
  background-color: #0088cc;
  padding: 0.8rem;
  border-radius: 8px 8px 0px 0px;
  color: #dfdfdf;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addProjectBtn img {
  height: 1.25rem;
  width: auto;
  filter: invert(92%) sepia(6%) saturate(20%) hue-rotate(299deg)
    brightness(112%) contrast(87%);
}
#closeProjectBtn {
  margin-bottom: 1rem;
}
